* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

a {
    color: transparent;
}

a:hover{
    color: #086671;
}

html {
    font-size: 62.5%;
    /* font-size: 10px */
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0D1516;
    min-height: 100vh;
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}

.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}

.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar a:active{
    color: var(--main-color);
}

.main{
    display: flex;
    align-items: center;
}

.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.user{
    display: flex;
    align-items: center;
}

.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
    
}

.main a:hover{
    color: var(--main-color);
}
/* -------------------- Hero Section Starts  -------------- */
.hero-image {
    width: 75%;
}



.right-section {
    width: 50%;
    display: flex;
}

.left-section {
    display: flex;
    width: 100%;
}



.hero-section {
    display: flex;
    align-items: center;
    max-width: 120rem;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2.4rem;
    column-gap: 2.4rem;
    margin-bottom: 9.6rem;
}

.hero-title {
    font-size: 5.4rem;
    color: transparent;
    -webkit-text-stroke: 1px #00B2C5;
    margin-bottom: 2.4rem;
    background-position: 0 0;
    background: url(/Images/back.png);
    -webkit-background-clip: text;
    animation: back 20s linear infinite;
}

@keyframes back {
    100%{
        background-position: 2000px 0;
    }
}

.hero-description {
    color: #d2d2d2;
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 4rem;
}

.cta-button {
    font-size: 3.2rem;
    color: #fff;
    background: linear-gradient(90deg, #086671 0%, #00B2C5 100%);
    box-shadow: 0px 4px 28px rgba(94, 240, 255, 0.2);
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 1.2rem 4rem;
    margin-bottom: 2.4rem;
    cursor: pointer;
}

.hero-testimonials {
    display: flex;
    align-items: center;
}

.hero-testimonials p {
    font-size: 2rem;
    color: #fff;
}

.hero-testimonials p span {
    font-size: 2rem;
    color: #00B2C5;
    font-weight: bold;
}

/* ------------------- Section Experience Starts------- */
.section-experience {
    display: flex;
    align-items: center;
    max-width: 120rem;
    justify-content: center;
    column-gap: 3.2rem;
    margin: 0 auto;
    margin-bottom: 12rem;
}

.experience-container {
    padding: 1.2rem 3.2rem;
    background: linear-gradient(90deg, #0C3337 0%, #0F1B1D 91.13%);
    box-shadow: inset -10px 11px 19px rgba(1, 166, 183, 0.3);
    border-radius: 16px;
}

.experience-container .experience-tag {
    color: #fff;
    font-size: 2.4rem;
}

.experience-container p span {
    color: #00B2C5;
    font-size: 3.2rem;
    font-weight: 700;
}

.experience-container .experience-desc {
    color: #d2d2d2;
    font-size: 2.4rem;
}

/* ------------------- Section Experience Ends------- */
/* -----------------Section About Me starts --------------- */


.section-aboutme {
    display: flex;
    align-items: center;
    max-width: 120rem;
    justify-content: center;
    column-gap: 6rem;
    margin: 0 auto;
    margin-bottom: 12rem;
}

.aboutme-image,
.aboutme-text {
    width: 50%;
}

.aboutme-img {
    width: 70%;
    border-radius: 5px;
    box-shadow: 3px 3px 8px 8px #00B2C5;
}

.aboutme-heading {
    font-size: 6rem;
    color: #00B2C5;
    margin-bottom: 4.8rem;
}

.aboutme-description {
    color: #fff;
    font-size: 2.4rem;
    line-height: 4.8rem;
    margin-bottom: 3.2rem;

}

.aboutme-btn {
    font-size: 3.2rem;
    color: #fff;
    background: linear-gradient(90deg, #086671 0%, #00B2C5 100%);
    box-shadow: 0px 4px 28px rgba(94, 240, 255, 0.2);
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 1.2rem 4rem;
    margin-bottom: 2.4rem;
}

/* -----------------Section About Me Ends --------------- */

/* ---------------Section Services starts----------------- */
.section-services {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12rem;
}

.services-heading {
    font-size: 5.6rem;
    color: #00B2C5;
    margin-bottom: 2.4rem;
    text-transform: uppercase;
}

.services {
    display: grid;
    grid-template-columns: 41.6rem 41.6rem;
    column-gap: 3.2rem;
    row-gap: 3.2rem;
}

.service-container {
    background-color: #0F181A;
    border-radius: 0.8rem;
    padding: 2.4rem;
}

.service-icon {
    width: 6.4rem;
    margin-bottom: 1.6rem;
}

.service-heading {
    font-size: 3.2rem;
    color: #fff;
    margin-bottom: 1.6rem;
}

.service-para {
    font-size: 2rem;
    color: #d2d2d2;
    margin-bottom: 1.6rem;
}

/* ---------------Section Services Ends----------------- */

/* ------------------ Section Portfolio starts ------------ */
.section-portfolio {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12rem;
}

.portfolio-heading {
    font-size: 5.6rem;
    font-weight: 700;
    color: #00B2C5;
    margin-bottom: 2.4rem;
    text-transform: uppercase;
}

.portfolio-img {
    width: 30rem;
    border-radius: 10px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem;
    row-gap: 2.4rem;
}

.portfolios {
    position: relative;
}

.overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.74) 0%, #0D1516 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    padding: 2rem;
    transition: opacity 0.2s;
}

.portfolio-line {
    color: #00B2C5;
    font-size: 2rem;
    margin-bottom: 0.6rem;
}

.portfolio-date {
    color: #fff;
    font-size: 1.2rem;
}

.portfolios:hover .overlay {
    opacity: 1;
}

/* ------------------ Section Portfolio Ends ------------ */

/* -----------------Section Contact Starts----------------------- */
.section-contact {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.contact-heading {
    margin-bottom: 3.2rem;
    color: #00B2C5;
    font-weight: 700;
    font-size: 5.6rem;
}

input {
    width: 50rem;
    height: 5rem;
    padding-left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: #086671;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    margin-bottom: 1rem;
}

input:focus {
    outline: none;
    border: none;
}

input::placeholder {
    font-size: 2rem;
}

.message {
    outline: none;
    border: none;
    padding: 1.2rem 3rem;
    font-size: 2.4rem;
    color: #086671;
    height: 20rem;
    border-radius: 0.6rem;
}

.message::placeholder {
    font-size: 2.4rem;
    font-weight: 700;
}

.form-btn {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(90deg, #086671 0%, #00B2C5 100%);
    box-shadow: 0px 4px 28px rgba(94, 240, 255, 0.2);
    border-radius: 8px;
    padding: 1.2rem;
    border: none;
    margin-top: 3rem;
}

/* -----------------Section Contact Ends----------------------- */
/* -----------------Section Pendidikan Starts------------------ */

.section-pendidikan {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12rem;
}

.pendidikan-heading {
    font-size: 5.6rem;
    font-weight: 700;
    color: #00B2C5;
    margin-bottom: 2.4rem;
    text-transform: uppercase;
}

.pendidikan-img {
    width: 25rem;
    border-radius: 10px;
    height: 20rem;
    margin: 2em 3em 0px 3em;
}

.pendidikan-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem;
    row-gap: 2.4rem;
}

.pendidikan {
    position: relative;
}

.overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.74) 0%, #0D1516 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    padding: 2rem;
    transition: opacity 0.2s;
}

.pendidikan-line {
    color: #00B2C5;
    font-size: 2rem;
    margin-bottom: 0.6rem;
}

.pendidikan-date {
    color: #fff;
    font-size: 1.2rem;
}

.pendidikan:hover .overlay {
    opacity: 1;
}
/* -----------------Section Pendidikan Ends------------------ */
/* --------------------  Section Footer Starts------------------- */
.sectioin-footer {
    background-color: #111C1D;
    padding: 2rem;
}

.footer {
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}

.social-icons img {
    width: 3.2rem;
}

.copyright {
    font-size: 2.4rem;
    color: #fff;
}

.footer-right p {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    color: #fff;
}

/* --------------------  Section Footer Ends------------------- */


#menu-icon{
    font-size: 35px;
    color: #00B2C5;
    cursor: pointer;
    z-index: 10001;
    display: none;
}


@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon{
        display: block;
        margin-right: 30px;
        margin-top: 30px;
    }

    #dark-chance{
        display: block;
        margin-top: 3.3em;
        margin-right: 7em;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 36vh;
        background: #00B2C5;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }


    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color: #0C3337;
        transform: translateY(5px);
    }
    .navbar a.active{
        color: var(--text-color);
    }
    .navbar.open{
        right: 2%;
    }


}

@media (max-width:600px) {
    .section-experience{
        display: flex;
        flex-direction: column; 
    }
    
    .hero-section{
        margin-left: 6em;
    }
    .experience-container{
        margin: 30px 0;
    }

    .left-section{
        display: flex;
        flex-direction: column;
    }
    .hero-image {
        margin-left: 5em;
        justify-content: center;
        height: 25em;
        width: 25em;
    }

    .cta-button {
        margin-left: 2em;

    }

    .hero-testimonials  p {
        margin-left: 2em;
    }
    .section-aboutme {
        display: flex;
        flex-direction: column;
    }

    .aboutme-heading {
        width: 0;
    }
    .service-container {
        display: flex;
        flex-direction: column;
    }

    .services{
        grid-template-columns: 41.6rem;
    }
    .pendidikan-container{
        grid-template-columns: 41.6rem;
    }

    .pendidikan-container{
        font-size: 2em;
    }
    .portfolio-container{
        grid-template-columns: 41.6rem;
        margin-left: 7em;
    }

    .aboutme-image{
        height: 30em;
        width: 35em;
        margin-left: 7em;
        border-radius: 10px;
    }
    .aboutme-description {
        text-align: justify;
    }

}

:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #4f4e4e;
}

main #respon{
    margin: 5vh 15%;
}

label{
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
}

label::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    cursor: pointer;
    background: #ffffff;
    transition: 0.9s;
}
label.active::before{
    left: 24px;
    background: #ffffff;
}

body.night{
    background: #4a4a4a;
    color: #ffffff;
}